# -----------------------
# 📦 Node / Vue
# -----------------------
node_modules/
dist/
build/
.cache/
.temp/
.npm/
pnpm-lock.yaml
yarn-error.log

# -----------------------
# ⚙️ 환경 변수
# -----------------------
.env
.env.local
.env.*.local
# -----------------------
# 🧪 테스트 / 커버리지
# -----------------------
coverage/
*.lcov

# -----------------------
# 🧩 IDE / 편집기
# -----------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
.history/

# -----------------------
# ⚠️ 기타 불필요 파일
# -----------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
